<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>MinimaList - Main</title>
  </head>
  <body>
    <div class="main-container">
      <aside class="aside-menu">
        <div class="tasks-aside-container">

          <h2 id="greetings_title" class="title-medium">Hello, Illia</h2>
          <div class="folders">
            <div class="folders-title">
              <div class="left">

                <img class="folder-img" src="/svg/folder.png" alt="" />
                <p class="subtitle">Folders</p>
              </div>
              <div class="right">
                <p class="plus text-orange subtitle">+</p>
              </div>
            </div>
            <div class="folders-container">
              <div class="folder">
                <div class="folder-title">
                  <button class="medium-text link-button">Productivity</button>
                </div>
                <div class="folder-tasks">
                  <ul>
                    <li>
                      <div class="task">
                        <p>What to learn
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="task">
                        <p>Books to read
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="task">
                        <p>People to meet
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="folder">
                <div class="folder-title">
                  <button class="medium-text link-button">Other tasks</button>
                </div>
                <div class="folder-tasks">
                  <ul>
                    <li>
                      <div class="task">
                        <p>What to learn
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="task">
                        <p>Books to read
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="task">
                        <p>People to meet
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="folder">
                <div class="folder-title">
                  <button class="medium-text link-button">What to buy</button>
                </div>
                <div class="folder-tasks">
                  <ul>
                    <li>
                      <div class="task">
                        <p>What to learn
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="task">
                        <p>Books to read
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                    <li>
                      <div class="task">
                        <p>People to meet
                          <span class="date-span">05.07.20 15:33</span></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-new-container">
          <button class="button bg-orange">Create new task!</button>
        </div>
      </aside>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>