<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <script
      src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"
    ></script>

    <title>MinimaList - Main</title>
  </head>
  <body>
    <div class="main-container">
      <aside class="aside-menu">
        <div class="tasks-aside-container">

          <h2 id="greetings_title" class="title-medium">Hello, Illia</h2>
          <div class="folders">
            <div class="folders-title">
              <div class="left">

                <img class="folder-img" src="/svg/folder.png" alt="" />
                <p class="subtitle">Folders</p>
              </div>
              <div class="right">
                <p class="plus text-orange subtitle">+</p>
              </div>
            </div>
            <div class="folders-container">

            </div>
          </div>
        </div>
        <div class="add-new-container">
          <button class="button bg-orange">Create new task!</button>
        </div>
      </aside>
      <div class="tasklist-container">
        <div class="folder-main-title">
          <h2 class="subtitle" id="folder-main-title"></h2>
        </div>
        <div class="tasklist-title">
          <h2 class="subtitle text-orange" id="tasklist-main-title"></h2>
        </div>
        <div class="tasks">
          <ul>

          </ul>
          <div class="add-new-task hidden">
            <input
              type="text"
              name="newTask"
              id="newTask"
              placeholder="Add new task.."
            />
          </div>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>