<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>MinimaList - Main</title>
  </head>
  <body>
    <div class="main-container">
      <aside class="aside-menu">
        <div class="tasks-aside-container">

          <h2 id="greetings_title" class="title-medium">Hello, Illia</h2>
          <div class="folders">
            <div class="folders-title">
              <div class="left">

                <img class="folder-img" src="/svg/folder.png" alt="" />
                <p class="subtitle">Folders</p>
              </div>
              <div class="right">
                <p class="plus text-orange subtitle">+</p>
              </div>
            </div>
            <div class="folders-container">

            </div>
          </div>
        </div>
        <div class="add-new-container">
          <button class="button bg-orange">Create new task!</button>
        </div>
      </aside>
      <div class="tasklist-container">
        <div class="folder-main-title">
          <h2 class="subtitle">Folder title</h2>
        </div>
        <div class="tasklist-title">
          <h2 class="subtitle text-orange">Tasklist title</h2>
        </div>
        <div class="tasks">
          <ul>
            <li class="task-main completed">
              <p class="task-main-text">JavaScript</p>
            </li>
            <li class="task-main">
              <p class="task-main-text">HTML & CSS3</p>
            </li>
            <li class="task-main completed">
              <p class="task-main-text">SCSS</p>
            </li>
            <li class="task-main">
              <p class="task-main-text">SASS</p>
            </li>
            <li class="task-main completed">
              <p class="task-main-text">Node.JS Framework</p>
            </li>
            <li class="task-main">
              <p class="task-main-text">React.JS</p>
            </li>
            <li class="task-main completed">
              <p class="task-main-text">Three.JS</p>
            </li>
            <li class="task-main completed">
              <p class="task-main-text">TypeScript</p>
            </li>
            <li class="task-main completed">
              <p class="task-main-text">MongoDB</p>
            </li>
          </ul>
          <div class="add-new-task">
            <input
              type="text"
              name="newTask"
              id="newTask"
              placeholder="Add new task.."
            />
          </div>
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>