body {
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
  font-family: "Asap", sans-serif;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.aside-menu {
  border-right: 1px solid #191919;
  height: 100%;
  width: 25%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#greetings_title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.folders-title {
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  width: 95%;
}
.right .plus {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.right .plus:hover {
  transform: scale(1.3);
}
.aside-menu .folders .folder-img {
  height: 40px;
  margin-right: 0.5rem;
}
.folder-title {
  cursor: pointer;
}
.folders-container {
  padding: 1rem 0rem 1.5rem 1.5rem;
}
.folder {
  margin: 1rem 0;
}
.folder:first-child {
  margin: 0;
}
.link-button {
  cursor: pointer;
  border: 0;
  font-size: 1.3rem;
}
.forder .link-button:focus {
  outline: none;
}
.folder-tasks {
  padding: 1rem 0rem 0rem 2rem;
  display: none;
}
.date-span {
  margin-left: 0.5rem;
  font-size: 0.7rem;
  color: var(--gray-color);
}
.task {
  margin: 0.3rem 0rem;
}
.task p {
  overflow-wrap: anywhere;
}
.add-new-container .button {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.add-new-container .button:hover {
  transform: scale(1.05);
}

.link-button {
  background-color: transparent;
}
.task-text {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.task-text:hover {
  transform: scale(1.05);
}
.tasklist-container {
  width: 100%;
  margin-top: 2rem;
  margin-left: 3.5rem;
}
.folder-main-title {
  width: 90%;
  border-bottom: 1px solid #191919;
  margin-bottom: 1rem;
}
.folder-main-title h2 {
  font-size: 3rem;
}
.tasklist-title {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.tasks {
  margin-left: 3rem;
  font-size: 1.5rem;
}
.tasks ul {
  list-style: none;
}

.tasks ul li {
  margin: 0.75rem 0rem;
}
.tasks ul li {
  cursor: pointer;
}
.tasks ul li::before {
  content: "•";
  transition: color 0.3s ease;

  color: #191919;
}
.tasks ul li.completed::before {
  content: "•";
  color: #aeacac;
}
.task-main p {
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}
.task-main.completed p {
  color: #aeacac;
}

.task-main .task-main-text::after {
  content: "";
  height: 1px;
  width: 0%;
  background: var(--orange-color);
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 0;
  transition: width 0.3s ease;
}
.task-main.completed .task-main-text::after {
  width: 101%;
}
.add-new-task input {
  border: 0;
  width: 90%;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0rem 0rem 0.5rem 0.5rem;
  border-bottom: 1px solid var(--orange-color);
  background: transparent;
}
.add-new-task input:focus {
  outline: none;
}
.hidden {
  display: none;
}
