@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

:root {
  --orange-color: #ff8000;
  --background-color: #f4f4f4;
  --black-color: #191919;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Asap", sans-serif;
}
.title {
  font-size: 3.75rem;
}
.text-orange {
  color: var(--orange-color);
}
.container {
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.icon lord-icon {
  transform: rotate(10deg);
}

.authorize-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 200;
  font-size: 2rem;
}
.link-button {
  text-decoration: none;
  color: var(--black-color);
  position: relative;
}
.link-button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 2px;
  margin-top: 0.2rem;
  background-color: var(--black-color);
  transition: all 0.3s cubic-bezier(0.4, 0.05, 0.55, 0.75) 0.07s;
}
.link-button:hover::after {
  left: 0;
  width: 100%;
}
